* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    padding: 8px 32px;
    height: 70px;
    background-color: #ece5dd;
}

/* REGOLE DI STILE DELLA CHAT */

.chat-box {
    padding: 32px;
    height: calc(100dvh - 140px);
    background-image: url('img/background.jpg');
    overflow-y: auto;
}

.chat-row {
    display: flex;
    margin-bottom: 32px;
}

.chat-message {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
}

.chat-row.sent {
    justify-content: flex-end;
    padding-left: 32px;
}

.chat-row.received {
    justify-content: flex-start;
    padding-right: 32px;
}

.chat-row.sent>.chat-message {
    background-color: #d5f9ba;

}

.chat-row.received>.chat-message {
    background-color: #ffffff;
}

time {
    font-size: 11px;
    color: #aaaaaa;
}


/* FONDO PAGINA */

footer{
    display: flex;
    align-items: center;
    gap: 32px;
}

input{
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
}

button{
    font-size: 25px;
    color: #666;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    color: blue;
}


/* REGOLE DI CSS PER L'INTESTAZIONE */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.header-right{
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: #666666;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}